/*Vinicius Ferreira*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height:100%;
}

body{
    background-color: #37415d;
    padding:0 2%;
}

.clear{
    clear: both;
}


header{
    display: flex;
    align-items: center;
    position: relative;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width:100%;
    max-width: 372px;
}

header > p{
    font-size: 18px;
    font-weight:500;
    color:white;
    font-family: "poppins";
}

header #theme{
    position:absolute;
    right:0%;
    display:flex;
    align-items: center;
}

#theme > p{
    padding:20px 15px 0 0;
    letter-spacing: 2px;
    color:white;
    font-size:8px;
    font-family: "poppins";
    text-transform: uppercase;
}

#escolher span{
    color:white;
    font-size: 10px;
    padding:0 9% 0 9%;
}

#barraTheme{
    position: relative;
    width: 100%;
    min-width:50px;
    height:15px;
    border-radius: 7.5px;
    background-color:#252d42 ;
}

#pointer{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    -ms-transform: translateX(-50%);
    width:100%;
    max-width: 9px;
    height: 9px;
    border-radius: 4.5px;
    margin-left: 2px;
    background-color: #d53e29;
    cursor: pointer;
}

    /*Resultados*/

#resultado{
    width:100%;
    padding: 10px 2%;
    max-width:372px;
    min-height: 58px;
    background-color: #181f32;
    border-radius: 8px;
    position: relative;
    top:26%;
    left:50%;
    transform:translate(-50%);
    -ms-transform: translate(-50%);
}

#resultado #tela{
    text-align: right;
    font-size: 25px;
    font-weight:500;
    font-family: "poppins";
    color:white;
}

#tela {
    width:100%;

}

    /*Teclas*/

#container{
    position: relative;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    padding:1%;
    width:100%;
    max-width:372px;
    background-color: #252d44;
    border-radius: 8px;
}

#teclas p{
    cursor:pointer;
    font-family: "Poppins";
    font-weight:500;
}

#numerosSinais .number , .del{
    float:left;
    width:25%;
    max-width: 70px;
    height: 40px;
    line-height:25px;
    border-radius: 7px;
    margin:0 8px 8px 8px;
    background-color: #eae3db;
    border-top:0;
    border-left: 0;
    border-bottom: 3px solid rgb(130, 130, 130);
    font-size: 21px;
    font-weight:bold;
    color:#434651;
    text-align: center;
    line-height: 40px;
}

 #numerosSinais .del{
    background-color: #647299;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
}

#resetIgual{
    display: flex;
    width:100%;
}

#resetIgual > p{
    width:100%;
    height:45px;
    line-height:45px;
    border-radius: 7px;
    margin:0 8px 12px 8px;
    font-size: 14px;
    font-weight:bold;
    border:0;
    text-align: center;
    line-height: 45px;
}

#resetIgual #reset{
    background-color:#647299 ;
    color: white;
}

#resetIgual #igual{
    background-color: #d13f30;
    color: white;
}

@media screen and (max-width:576px){

    header{
        top:19%;
        max-width:275px;
    }

    header > p{
        font-size:23px;
    }

    #theme p{
        font-size:12px;
    }

    #theme span{
        font-size:14px;
        padding:0 9px 0 5px;
    }

    #barraTheme{
        position: relative;
        width: 100%;
        min-width:70px;
        height:25px;
        border-radius:12.5px;
        background-color:#252d42 ;
    }
    
    #pointer{
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        -ms-transform: translateX(-50%);
        width:100%;
        max-width: 12.5px;
        height: 12.5px;
        border-radius: 6.25px;
        margin-left: 5px;
        background-color: #d53e29;
        cursor: pointer;
    }

    #resultado{
        width:100%;
        padding: 10px 3%;
        max-width:275px;
        min-height: 65px;
        position: relative;
        top:22%;
        left:50%;
        transform:translate(-50%);
        -ms-transform: translate(-50%);
}
    
    #container{
        padding: 2% 1%;
        padding-top: 3%;
        max-width:275px;
    }
    
    #numerosSinais .number , .del{
        float:left;
        width:25%;
        max-width: 50px;
        height: 60px;
        line-height:60px;
    }




}


